
Graph Neural Network/Datasets/RG2 100k N 20-60 E 7,5-20.pkl
Graph Neural Network/Datasets/RG2 100k N 20-60 E 7,5-20 V2.pkl
Graph Neural Network/Datasets/RG2 B1 100k N 20-60 E 7,5-20.pkl
Graph Neural Network/Datasets/RE B 100k with 3-6 CN.pkl
Graph Neural Network/Datasets/RE B 100k with 3-6 CN.zip
